@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, a{font-family: 'Nanum Gothic', sans-serif;}
@media screen and (max-width:767px) {
        
     #addbanner{width: 100%;height: auto; }
    .banner{width: 100%;min-height:250x;height:32.594524vw;background-image: url(../headerimg/mobanner1.png);background-size:100%;background-position: center;background-repeat: no-repeat;}
    #artt{width: 100%;height:90.203125vw;
    margin: 0 auto; }
    p{min-width:1380px;width: 179.6875vw;height:20px;margin: 0 auto;color:#8f858e;font-size:0.8rem; font-family: 'Nanum Gothic', sans-serif;}
    #artt{width: 100%;height: auto;}
    #artt>ul{width: 100%;height:220.756192vw;}
    #artt>ul>li{width: 50%;height:25%;float:left;box-sizing: border-box;padding: 1px;}
    #artt>ul>li>a{display: block;width: 100%;height: 100%; background-position:center;background-repeat: no-repeat;background-size:100%;transition:.5s;}
    .rouge_1>a{background-image: url(../headerimg/eve1.png);}
    .rouge_1>a:hover{background-image: url(../headerimg/eve1-1.png);}
    .rouge_2>a{background-image: url(../headerimg/eve2.png);}
    .rouge_2>a:hover{background-image: url(../headerimg/eve2-2.png);}
    .rouge_3>a{background-image:url(../headerimg/eve3.png);}
    .rouge_3>a:hover{background-image:url(../headerimg/eve3-3.png);}
    .rouge_4>a{background-image: url(../headerimg/eve4.png);}
    .rouge_4>a:hover{background-image: url(../headerimg/eve4-4.png);}
    .rouge_5>a{background-image: url(../headerimg/eve5.png);}
    .rouge_5>a:hover{background-image: url(../headerimg/eve5-5.png);}
    .rouge_6>a{background-image: url(../headerimg/eve6.png);}
    .rouge_6>a:hover{background-image: url(../headerimg/eve6-6.png);}
    .rouge_7>a{background-image: url(../headerimg/eve7.png);}
    .rouge_7>a:hover{background-image: url(../headerimg/eve7-7.png);}
    .rouge_8>a{background-image: url(../headerimg/eve8.png);}
    .rouge_8>a:hover{background-image: url(../headerimg/eve8-8.png);}
  
    
    
    
    
    
}