@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, a, p {font-family: 'Nanum Gothic', sans-serif;}
@media screen and (min-width:1400px){
    body{width: 100%;height:auto;}
    #bnnerbox{width: 100%;height: 550px;position: relative;}
    .bnner{width: 100%;height: 100%;background-image: url(../headerimg/basebnner.png);background-attachment: fixed;background-position:0 70px;background-repeat: no-repeat;background-size: 100%;position:absolute;top:0;}
    a{display: block;width: 100%;height: 100%;}
    #content{width: 1400px;height: auto;margin: 0 auto;}
    #articlebox{width: 100%;height: 400px;margin-top:80px;}
    #articlebox>p{width: 90px;height:10%;background-color: #fff;
    font-size:2rem;font-weight: bold;color:#7c3e72;}
    #articlebox>ul{width: 100%;height:85%;border-top:1.5px solid #ac95ab;border-bottom:1.5px solid #ac95ab;}
    #articlebox>ul>li{width: 280px;height: 100%;float: left;background-position: center;background-repeat: no-repeat;background-size:100%;}
    #articlebox>ul>li>a{display: block;width: 100%;height: 100%;}
    .art_1{background-image:url(../headerimg/bb1.png); }
    .art_1:hover{background-image:url(../headerimg/bb1-1.png); }
    .art_2{background-image: url(../headerimg/bb2.png);}
    .art_2:hover{background-image: url(../headerimg/bb2-2.png);}
    .art_3{background-image: url(../headerimg/bb3.png);}
    .art_3:hover{background-image: url(../headerimg/bb3-3.png);}
    .art_4{background-image: url(../headerimg/bb4.png);}
    .art_4:hover{background-image: url(../headerimg/bb4-4.png);}
    .art_5{background-image: url(../headerimg/bb5.png);}
    .art_5:hover{background-image: url(../headerimg/bb5-5.png);}
    
    #pbox>p{width: 100%;height: 40px;margin-top: 80px;font-size:1rem;color:#8f858e;}
    
    #sectionbox{width: 100%;height: auto;}
    .menu{width: 100%;height: 30px;float: left;background-color: #fff;margin-bottom:30px;border:1px solid #dedadd;}
    .menu>li{width: 33%;height: 100%;float: left;
        text-align:center;font-size:1rem;box-sizing: border-box;border-right: 1px solid #dedadd;transition:.5s;padding-top:5px;}
    .menu>li:last-child{border-right:none;}
 
    .menu_2{background-color: #8d5d8b;}
    .menu_2>a{color: #fff;}
  
    .menu>li:active{background-color: #8d5d8b;color: #fff;}
    .menu>li>a:active{color:#fff;}
    
    .list{width: 1400px;height:1300px;}
    .list>li{width: 25%;height: 390px;float: left;background-position: center;background-repeat: no-repeat;background-size:contain;transition:.5s;}
    .listbox_1{background-image: url(../headerimg/fa1.png);}
    .listbox_1:hover{background-image: url(../headerimg/fa1-1.png);}
    .listbox_2{background-image: url(../headerimg/fa2.png);}
    .listbox_2:hover{background-image: url(../headerimg/fa2-2.png);}
    .listbox_3{background-image: url(../headerimg/fa3.png);}
    .listbox_3:hover{background-image: url(../headerimg/fa3-3.png);}
    .listbox_4{background-image: url(../headerimg/fa4.png);}
    .listbox_4:hover{background-image: url(../headerimg/fa4-4.png);}
    .listbox_5{background-image: url(../headerimg/fa5.png);}
    .listbox_5:hover{background-image: url(../headerimg/fa5-5.png);}
    .listbox_6{background-image: url(../headerimg/fa6.png);}
    .listbox_6:hover{background-image: url(../headerimg/fa6-6.png);}
    .listbox_7{background-image: url(../headerimg/fa7.png);}
    .listbox_7:hover{background-image: url(../headerimg/fa7-7.png);}
    .listbox_8{background-image: url(../headerimg/fa8.png);}
    .listbox_8:hover{background-image: url(../headerimg/fa8-8.png);}
    .listbox_9{background-image: url(../headerimg/fa9.png);}
    .listbox_9:hover{background-image: url(../headerimg/fa9-9.png);}
    .listbox_10,.listbox_11{display: none;}
   
}