@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, a{font-family: 'Nanum Gothic', sans-serif;}
@media screen and (max-width:767px) {
    
      #addbanner{width:100%;height:auto;margin: 0 auto;margin-top:20px}
   #addbanner>h2{width:100px;height: 30px;color:#2b0828; font-size:2rem;font-family: 'Nanum Gothic', sans-serif;
    float: left;}
    
    .fieldset_1{width: 100%; height:auto;}
     .fieldset_1>dl:nth-of-type(5){width: 100%;height:80px;border:2px solid #e6e5e6;box-sizing: border-box;padding-top:5px;}

    
    .fieldset_1>dl{width: 100%;height:40px;border:2px solid #e6e5e6;}
  
   
    .fieldset_1>dl>dt{float:left;width: 30%;height: 100%;border-right:2px solid #e6e5e6;box-sizing: border-box;padding-left:7px;padding-top:7px;}
    
    .fieldset_1 dl>dt>label{color:#2e082b;font-family: 'Nanum Gothic', sans-serif;font-size:0.7rem;}
    
    .fieldset_1>dl:nth-of-type(5)>dt{box-sizing: border-box;padding-top: 20px;}
    
    
    
    .fieldset_1>dl>dd{width:70%;height: 100%;float:left;box-sizing: border-box;padding:8px 5px 10px;}
   .fieldset_1>dl>dd>input[type="text"]{width:70%;height: 100%;background-color:#f7f3f7;font-size:0.9rem;float: left;}
    .fieldset_1>dl>dd>input[type="email"]{width:70%;height: 100%;background-color:#f7f3f7;font-size:0.9rem;float: left;}
    .fieldset_1>dl>dd>input[type="password"]{width: 50%;height: 100%;background-color:#f7f3f7;font-size:0.9rem;float: left;}
    .fieldset_1>dl>dd>input[type="tel"]{width:20%;height: 100%;background-color:#f7f3f7;font-size:0.9rem;float: left;margin-right: 10px;float: left;}
    .fieldset_1>dl>dd>input[type="button"]{width:20%;height: 20px;font-size: .8rem;color:#fff;background-color:#633f60; float: left;margin-right: 10px;}
    .fieldset_1>dl>dd>input[type="submit"]{width:25%;height: 22px;background-color:#633f60;color:#fff;font-family: 'Nanum Gothic', sans-serif;font-size:0.8rem;float:left;margin-left:10px; }
    .fieldset_1>dl:nth-of-type(5)>dd>input{height: 45%; margin-top:4px;}
    .fieldset_1>dl:nth-of-type(2)>dd>input[type="button"]{width: 20%;margin-left:5px;}
    .fieldset_1>dl>dd>p{display: none;}/*{float: left;font-size: .7rem;font-family: 'Nanum Gothic', sans-serif;margin-top: 5px;margin-left:5px;
    color:#9d9c9c;}
    */
    
    
    
    
    
    
    
    
    
    .fieldset_2{width:50%;height:40px;margin-top:40px;margin: 0 auto;margin-bottom:50px;}
    .fieldset_2>ul{width: 100%;height: 100%;}
    .fieldset_2>ul>li{width:45%;height: 100%;float: left;}
    .fieldset_2>ul>li>a{height: 16px;text-align: center;margin-top:10px;font-family: 'Nanum Gothic', sans-serif;color:#fff;font-size:.9rem;}
    .fieldset_2>ul>.btn_2>a{color:#003;}
   
    .btn_1{background-color: #2e082b;}
    .btn_2{background-color:#cbc0ca;margin-left:10%;}
    
}