@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, a{font-family: 'Nanum Gothic', sans-serif;}
@media screen and (min-width:1400px){
 #haderbox, .header_box, #gnv , #addbanner
    , #content{background-position: center;background-repeat: no-repeat;}
   #addbanner{width: 100%;min-height:550px;height:39.285714vw; }
    .banner{width: 100%;height: 100%;background-image: url(../headerimg/bestmascara.png);background-size:100%;background-position:0 70px;background-repeat: no-repeat; background-attachment: fixed;background-position:0 70px}
    #artt{width:1380px;height:831px;
    margin: 0 auto;margin-bottom:100px; }
    p{width:1380px;height:16px;margin: 0 auto;color:#8f858e;font-size:1rem;margin-top:15px;margin-bottom: 15px; font-family: 'Nanum Gothic', sans-serif;}
    #artt>ul{width: 100%;height: 100%;}
    #artt>ul>li{width: 341px;height: 412px;float:left;margin:1px;background-position: center;background-repeat: no-repeat;background-size: cover;transition:.5s; }
    #artt>ul>li:nth-child(1){margin-left:5px}
    #artt>ul>li:nth-child(5){margin-left:5px;}
    .rouge_1{background-image: url(../headerimg/mas1.png);}
    .rouge_1:hover{background-image: url(../headerimg/mas1-1.png);}
    .rouge_2{background-image: url(../headerimg/mas2.png);}
    .rouge_2:hover{background-image: url(../headerimg/mas2-2.png);}
    .rouge_3{background-image:url(../headerimg/mas3.png);}
    .rouge_3:hover{background-image:url(../headerimg/mas3-3.png);}
    .rouge_4{background-image: url(../headerimg/mas4.png);}
    .rouge_4:hover{background-image: url(../headerimg/mas4-4.png);}
    .rouge_5{background-image: url(../headerimg/mas5.png);}
    .rouge_5:hover{background-image: url(../headerimg/mas5-5.png);}
    .rouge_6{background-image: url(../headerimg/mas6.png);}
    .rouge_6:hover{background-image: url(../headerimg/mas6-6.png);}
    .rouge_7{background-image: url(../headerimg/mas7.png);}
    .rouge_7:hover{background-image: url(../headerimg/mas7-7.png);}
    .rouge_8{background-image: url(../headerimg/mas8.png);}
    .rouge_8:hover{background-image: url(../headerimg/mas8-8.png);}
     
    
}