@media screen and (min-width:768px) and (max-width:1399px){
    html, body, a{font-family: 'Nanum Gothic', sans-serif;}
    body{width: 100%; overflow-x: hidden;}
    #haderbox, .header_box, #gnv , #addbanner
    , #content{background-position: center;background-repeat: no-repeat;}
#haderbox{width:100%;
        min-height: 55px;  height:7.161458vw; 
    background-color:#000245;
    position: fixed;z-index:600; top: 0; left:0; }
    
    .header_box{width: 100%; height: 100%; background-image: url(../headerimg/header.png);position: relative;}
    .header_box>h1{min-width: 134px;width:17.447916vw;min-height:34px;height:4.427083vw;  float: left;position: absolute;left: 50%;margin-left:-8.0729165vw; margin-top:2.604166vw;}  
    
    
   .header_box h2{min-width: 40px;width: 5.208333vw;min-height: 40px;height:5.208333vw; float: right;margin-right:20px;margin-top:1.208333vw;}
    .header_box h2>button{width: 100%;height: 100%;background-color:rgba(250, 235, 215, 0); }
    .header_box h2>button>i{font-size:40px;color:#fff;}
    .header_box h2>button>i:hover{color:#f0dfef;}
    
    
    
    .header_box .gnb{min-width:400px;width:39.0625vw; min-height:20px; height:2.604166vw; top:7.604166vw; background-color:#2a0827; position: absolute; right: 0;display: none;}
    .header_box .gnb>ul{width:100%;height:100%;float: right;box-sizing: border-box;padding:3px 2vw; }
    .header_box .gnb>ul>li{height:100%; font-size:1.5vw;text-align:center;float:left;box-sizing: border-box; border-right:1px solid rgba(209, 193, 208, 0.58);margin-right:4%; padding-right:4%;}
    .header_box .gnb>ul>li:last-child{border-right:none; margin-right: 0;padding-right: 0;}
    .header_box .gnb>ul>li>a{color:#fff;font-family: 'Nanum Gothic', sans-serif;}
    .header_box .gnb>ul>li>a:hover{color:#f0dfef;}
    
    
#haderbox::after{
    content:" "; display: block; width: 100vw; height: 100%;
    background-image: url(../headerimg/header.png); position: absolute; z-index:-500; left: 50%; margin-left: -50vw; top: 0;}
    
    
    
    
    
    
    

  
    #con{width: 100%;height: 0 auto; box-sizing: border-box;  padding-top:7.161458vw;}
    #con>h2{display: none;}
   #gnv>h2{display: none;}
    #gnv{width:100%; 
        min-height:20px;height:2.604166vw; background-color:#ba45d0;}
        #gnv>ul{width: 100%;height: 100%; position: relative;z-index: 200;}   
    #gnv>ul>li{width: 25%; height:100%; float:left;background-position: center;background-repeat: no-repeat;background-size:cover;float: left; }
  #gnv>ul>li>div{width: 100%; height:100%; background-repeat: no-repeat;background-size:cover;background-position: center; }
  #gnv>ul>li>div>span{display: block;width: 0;height: 0;overflow: hidden;}
.bo_1>div{background-image: url(../headerimg/meu_1.png);}
    .bo_1:hover>div{background-image: url(../headerimg/meu_01.png);}
    .bo_2>div{background-image: url(../headerimg/meu_2.png);}
    .bo_2:hover>div{background-image: url(../headerimg/meu_02.png);}
    .bo_3>div{background-image: url(../headerimg/meu_3.png);}
    .bo_3:hover>div{background-image: url(../headerimg/meu_03.png);}
    .bo_4>div{background-image: url(../headerimg/meu_4.png);}
    .bo_4:hover>div{background-image: url(../headerimg/meu_04.png);}
    #gnv>ul>li>ol{width: 100%;height:0;background-color:rgba(44, 8, 41, 0.76); overflow: hidden;
        transition:0.5s;}
    #gnv ol>li:first-child{display:none;}  
  #gnv ol>li{height: 3rem;color:#fff;font-weight:normal; padding-left:8.333333vw;
        box-sizing: border-box; padding-top: .7rem;text-transform: uppercase}
    #gnv a{color:inherit;font-size:0.8rem; }
    #gnv a:hover{font-weight:bold;}
    #gnv>ul:hover ol{height: 200px;}
    
    
    
    
    
}